* {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
}

.card-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid black;
    margin: auto;
    margin-top: 150px;
    box-shadow: 8px 8px 0px black;
}

.card-container .image-holder img {
    border-radius: 15px;
    width: 100%; 
    display: block;
    margin-top: 5px;
}

.text-box {
    display: flex;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    border-radius: 5px;
}

.date {
    font-size: 16px;
    font-weight: 500;
}

.card-container .text-container h2.title {
    font-weight: 800;
}

.card-container .text-container h2.title:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.card-container .text-container p.paragraph {
    font-weight: 500;
}

.card-container .name-tag {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.card-container .name-tag img {
    width: 50px;
    height: 50px;
}

.card-container .name-tag p.name {
    font-weight: 800;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}